.about-container {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}

.about-us{
    margin: 50px;
}

.reut-container {
    background-color: #8F8F8F;
    width: 50%;
    height: 650px;
    margin-right: 30px;
}

.lior-container {
    background-color: #FF9F0E;
    width: 50%;
    height: 650px;
}

/* .about-us {
    margin: 40px;
} */

.about-title {
    font-size: 97px;
    color: #FF9F0E;
}

.us-title {
    font-size: 97px;
    color: #8F8F8F;
}

.reut-title {
    color: #fff;
    font-size: 52px;
    margin: 50px;
}

.lior-title {
    color: #fff;
    font-size: 52px;
    margin: 50px;
}


.img-lior,.img-reut {
    margin-top: 15px;
    border-radius: 50%;
    border: solid 15px #8F8F8F;
   
    height: 50%;
    width: 50%;
    margin-left: 20%;
}

.contact-container {
    width: 100%;
    background-color: #414141;
}

.contact-title {
    color: white;
    font-size: 96px;
    margin-bottom: 50px;
    padding-top: 110px;
}

.you-see {
    color: white;
    font-size: 37px;
    margin-bottom: 30px;
}

.tell-us {
    color: white;
    font-size: 49px;
    margin-bottom: 82px;
}

form>input {
    padding: 12px;
    border-radius: 99999px;
    border: none;
    margin-bottom: 20px;
    width: 60%;
    height: 22px;
    font-size: 20px;
    font-family: tempsitc;
}

.input-name {
    margin-bottom: 35px;
}

.input-email {
    margin-bottom: 35px;
}

.input-subject {
    margin-bottom: 35px;
}

.textarea-message {
    margin-bottom: 70px;
    border-radius: 9px;
    resize: none;
    width: 90%;
    height: 128px;
    font-size: 20px;
    font-family: tempsitc;
}

@media (max-width: 740px) {

    .contact-title{
        font-size: 60px;
    }

    .about-container {
        margin-top: 25px;
    }
    
    .lior-title{
        font-size: 50px;
        margin:15px 2px 15px 2px;
    }

    .reut-title{
        font-size:50px;
        margin:15px;
    }

    .info-container{
        margin-top:20px;
    }
    .reut-container, .lior-container {
      
        width: 50%;
        height: 350px; 
        margin-bottom: 10px;
    }
    
    
    /* .about-us {
        margin: 40px;
    } */
    
    .about-title {
        font-size: 50px;
    }
    
    .us-title {
        font-size: 50px;
    }
    
    .reut-title {
        color: #fff;
        font-size: 25px;
        margin: 10px;   
         }

        .you-see{
            margin-left: 20px;
            line-height: 1;
        }
    
    .lior-title {
        color: #fff;
        font-size: 25px;
        margin: auto;
    }
    
    .img-lior {
        margin-top: 15px;
        border-radius: 50%;
        border: solid 15px #8F8F8F;
        width: 80%;
        
    }
    
    .img-reut {
        margin-top: 15px;
        border-radius: 50%;
        border: solid 15px #FFC107;
        width: 80%;
    }
    .form>input{
        width: auto;
    }

    .textarea-message{
        margin-bottom: 150px;
    }
    
    .tell-us{
        margin-bottom:42px;
    }

    .contact-title{
        padding-top: 50px;
    }
    
}