.info-container{
    display: flex;
    flex-direction: row;
}
.about-container {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}

.about-us{
    margin: 50px;
}

.reut-container,.lior-container{
    background-color: #8F8F8F;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lior-container{
    background-color:#FF9F0E;
 }


.about-title {
    font-size: 97px;
    color: #FF9F0E;
}

.us-title {
    font-size: 97px;
    color: #8F8F8F;
}

.reut-title , .lior-title{
    color: #fff;
    font-size: 52px;
    margin: 50px;
    text-align: center;
}




.img-lior,.img-reut {
    border-radius: 50%;
    border: solid 15px #8F8F8F;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.img-reut{
    border: solid 15px #FF9F0E;  
}


.info{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 40px;
}
.contact-container {
    width: 100%;
    background-color: #414141;
}

.contact-title {
    color: white;
    font-size: 96px;
    margin-bottom: 50px;
    padding-top: 110px;
}

.you-see {
    color: white;
    font-size: 37px;
    margin-bottom: 30px;

}

.tell-us {
    color: white;
    font-size: 49px;
    margin-bottom: 82px;
}

form>input {
    padding: 12px;
    border-radius: 99999px;
    border: none;
    margin-bottom: 20px;
    width: 60%;
    height: 22px;
    font-size: 20px;
    font-family: tempsitc;
}

.input-name {
    margin-bottom: 35px;
}

.input-email {
    margin-bottom: 35px;
}

.input-subject {
    margin-bottom: 35px;
}

.textarea-message {
    margin-bottom: 70px;
    border-radius: 9px;
    resize: none;
    width: 90%;
    height: 128px;
    font-size: 20px;
    font-family: tempsitc;
}

@media (max-width: 740px) {

    .contact-title{
        font-size: 60px;
    }

    .about-container {
        margin-top: 25px;
    }
    
    .lior-title, .reut-title{
        font-size: 50px;
        margin-top: 60px;
    }

    

    .info-container{
        margin-top:20px;
        display: flex;
        flex-direction: column;
    }
   
    
    .reut-container,.lior-container  {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
  
    
    .about-title {
        font-size: 50px;
    }
    
    .us-title {
        font-size: 50px;
    }
    
    .reut-title, .lior-title {
        color: #fff;
        font-size: 50px;
        text-align: center;   
         }

        .lior-title{
            line-height: 1;
        }

        .you-see{
            margin: 10px;
            line-height: 1;
            text-align: center;
        }
    
    
    .img-lior ,.img-reut{
        margin-top: 15px;
        border-radius: 50%;
        border: solid 15px #8F8F8F;
        margin-bottom: 30px;
        
    }
     
    .img-reut {
        border: solid 15px #FFC107;
    }

    .form>input{
        width: auto;
    }

    .textarea-message{
        margin-bottom: 150px;
    }
    
    .tell-us{
        margin-bottom:42px;
    }

    .contact-title{
        padding-top: 50px;
    }
    
}

/* @media (max-width: 420px) {
 .info-container{
     display: flex;
     flex-direction: column;
 }

} */