/* Nav */

.nav-container {
    width: 95%;
    margin: 0 auto;
    background-color: #42CAD4;
    margin-bottom: 52px;
}

.main-nav-item {
    height: 130px;
    width: 130px;
    border-left: 1px solid #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: tempsitc;
    font-size: 25px;
    transition: .2s;
    cursor: pointer;
}

.main-nav-item:last-child {
    border-right: 1px solid #414141;
}

.main-nav-item:hover {
    box-shadow: inset 0px -10px 0px #FF9F0E;
}

.main-nav-item:active {
    box-shadow: inset 0px -10px 0px #FF9F0E;
    background-color: #414141;
}

.btn-round {
    border-radius: 9999px;
    background-color: #fff;
    cursor: pointer;
    border: solid 2px rgb(194, 194, 194);
    color: rgb(194, 194, 194);
    font-family: lato-Bold;
    font-size: 1.143rem;
    height: 40px;
    padding: 0px 21px 3px;
    margin-left: 0px;
    width: fit-content;
    transition: .3s;
}

.btn-round:hover {
    color: #FF9F0E;
    border: solid 2px #FF9F0E;
    padding-right: 50px;
}

.btn-round:after {
    position: absolute;
    content: '→';
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.btn-round:hover:after {
    visibility: visible;
    margin-left: 20px;
    opacity: 1;
}

.pre-next-container {
    border: solid 1px rgb(225, 225, 225);
    width: 980px;
    height: 72px;
    margin: 0 auto;
}

.next-prev {
    font-family: lato-regular;
    color: #414141;
    font-size: 1.143rem;
    text-decoration: none;
    margin: 0 30px;
    text-transform: uppercase;
}

footer {
    height: 315px;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
}

.title-footer {
    color: #414141;
    padding-top: 80px;
}

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: flex;
    }
    .main-nav.flex{
        display: none;
    }

    .nav-container{
        width: 90%;
    }
}