.text-input {
    border-radius: 9999px;
    border: solid 2px #8F8F8F;
    padding: 15px;
}

/* .editor-canvas-container {} */

.editor-container {
    padding: 20px;
}

#html5colorpicker {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 50px;
    background-color: #fff;
    cursor: pointer;
}

.shadow {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;

}

.delete {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;

}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: solid 5px #414141;
    border-radius: 999px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    cursor: pointer;

}

.biggerText {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;

}

.smallerText {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;

}

.alignLeft {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;

}

.alignCenter {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;

}

.alignRight {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;

}

.add-line {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;

}

.right {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;

}

.left{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;

}

.down{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;

}

.Up{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 20px;
    width: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;

}


@media (max-width: 740px) {
    .editor-canvas-containe{
        /* display: flex; */
        flex-direction: column;
    }


}


