
.top-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-btns .show-list, .download{
    margin-bottom: 10px;
    margin-right: 5px;
}
.editor-canvas-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom:50px;
}

.editor-container>input {
    width: 90%;
    margin-bottom: 10px;
}

.text-style, .buttons-edit-text-size ,.alignment, .arrows{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.editor-canvas-container{
   background: linear-gradient(to bottom, #ffffff 15%, #d6f3f6 32%,
    #b2e9ee 63%, #97e2e8 81%, #42cad4 100%);
 
}

.text-input {
    border-radius: 9999px;
    border: solid 2px #8F8F8F;
    padding: 15px;
}


.editor-container {
    padding: 20px;
}

#html5colorpicker {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
}

.shadow {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

}

.delete {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    text-align: center;

}

.dropbtn {
        font-size: 16px;
        border: solid 5px #414141;
        border-radius: 999px;
        height: 55px;
        width: 55px;
        cursor: pointer;
        background-color: transparent;
        text-align: center;

}

.biggerText img {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px; 
    cursor: pointer;

}

.smallerText img {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;

}

.alignLeft  img{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;

}

.alignCenter img {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;

}

.alignRight img {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;

}

.add-line {
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size:15px;
    cursor: pointer;

}




.right img{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;

}

.left img{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;

}

.down img{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;

}

.Up img{
    border: solid 5px #414141;
    border-radius: 999px;
    height: 15px;
    width: 15px;
    padding: 15px;
    cursor: pointer;

}

.move-to-lines{
    text-align: center;
    border: solid 5px #414141;
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 20px;
    align-self: center;

}

.show-list {
    display: none;
    border: solid 4px #414141;
    border-radius: 999px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    font-family: tempsitc;
}

.download {
    display: none;
    border: solid 4px #414141;
    border-radius: 999px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    color: black;
}

@media (max-width: 740px) {
    .editor-canvas-container{
        display: flex;
        flex-direction: column;
    }


}

@media (max-width: 420px) {
  canvas{
      width: 90%;
  }
}



